<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Редактировать</title>
    <link rel="stylesheet" type="text/css" href="../../css/main.css">
</head>
<body>

<form th:method="POST" th:action="@{/position/edit/{id}(id=${position.getId_position()})}" th:object="${position}">
    <label for="title">Название: </label>
    <input type="text" th:field="*{title}" id="title">
    <div style="color:red" th:if="${#fields.hasErrors('title')}" th:errors="*{title}">Title error</div>
    <br>
    <label for="salary">Зарплата: </label>
    <input type="text" th:field="*{salary}" id="salary">
    <div style="color:red" th:if="${#fields.hasErrors('salary')}" th:errors="*{salary}">Salary error</div>
    <br>

    <input type="submit" value="Редактировать!">
</form>

</body>
</html>